body{
    background-image: url("skills back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.skl{
    text-align: center; 
}
.images{
    background-image: url("skillss.jpg");
}
.skl{
    margin-left: 8%;
    margin-top: 15%;
    
}
.skl h1{
    font-size: 50px;
    color: #212121;
    margin: 20px;
}
.skl p{
    color: #555;
    line-height: 22px;


}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    position: relative;
    display:inline-block ;
    list-style: none;
    margin: 20px 20px;
    font-family: 'Mochiy Pop P One', sans-serif;

}
nav ul li a{
    text-decoration:none;
    text-decoration-color: none;
    color: #000;
    font-weight: bold;
}
nav ul li:hover{
    
    background-color:papayawhip;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
}
.skl{
    margin-left: 2%;
    margin-top: 5%;
}
.skl h1{
    font-size: 70px;
    color: #212121;
    margin: 20px;
    font-weight: bold;
    font-family: 'Mochiy Pop P One', sans-serif;

}
.skl h2{
    font-size: 40px;
}
.skl {
    color: rgb(7, 3, 3);
    line-height: 22px;


}

